body, html {
    background-color: #f9c5d1;
    background-image: linear-gradient(315deg, #f9c5d1 0%, #9795ef 74%);
    height: 100%;
    min-height: fit-content;
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    font-family: 'Poppins', sans-serif;
}

.card {
    background-color:#ededed;
    display: block;
    margin: -300px auto auto auto;
    position: absolute;
    top: 50%;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}

header {
    color: #a4508b;
    text-align: center;
    margin-top: 20px;
    
    font-family: 'Poppins', sans-serif;
}

.question {
    text-align: center;
    justify-content: center;
    padding: 25px;
    margin-bottom: -30px;
    font-family: 'Poppins', sans-serif;
}

.answers {
    margin-top: 25px;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

.list {
    padding: 2px;
    margin-left: -75px;
}

.btn {
    background-color: #a4508b;
    background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
    margin: 50px auto auto 90px;
}

.list {
    font-weight: bolder;
    font-size: large;
}

.list:hover {
    color: #5f0a87;
    cursor: pointer;
}

#highscore {
    position: fixed;
    top: -40px;
    left: -210px;
}