body, html {
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.wallpaper {
    background-color: #f9c5d1;
    background-image: linear-gradient(315deg, #f9c5d1 0%, #9795ef 74%);
    height: 100%; 
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
}

.card {
    background-color:#ededed;
    display: block;
    margin: -300px auto auto auto;
    position: absolute;
    top: 50%;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}

header {
    color: #9291e2;
    text-align: center;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    text-shadow: .5px 1.5px 2px #000000;
}

.question {
    text-align: center;
    justify-content: center;
    
    padding: 25px;
    margin-bottom: -30px;
    font-family: 'Poppins', sans-serif;
}

.answers {
    margin-top: 25px;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

.list {
    padding: 2px;
    margin-left: -75px;
}

.btn {
    background: linear-gradient(to top left, #9291e2 100%, #be49fd 0%);
    margin: 50px auto auto 90px;
    text-shadow: 1px 1px 2px #000000;
}

.list {
    font-weight: bolder;
    font-size: large;
}

.list:hover {
    color: #9291e2;
    cursor: pointer;
}

#highscore {
    position: absolute;
    top: -50px;
    left: -210px;
    display: none;
}

#timer {
    color: #9291e2;
    position: absolute;
    top: 5px;
    left: 340px;
    text-shadow: .5px 1.5px 2px #000000;
}